config DMA_CANINOS
	bool "Caninos K7 Labrador DMA support"
	depends on ARCH_CANINOS_K7 || COMPILE_TEST
	select DMA_ENGINE
	select DMA_VIRTUAL_CHANNELS
	help
	  Enable support for the Caninos Labrador DMA controllers.
